/*Body, borber-box et main*/
	
	body
{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	background-color: white;
}

	*, *::after
{
	box-sizing: border-box;
}
	
	.bloc_page
{
	margin: 0 auto;
	width: 100%;
	max-width: 1340px;
	padding-left: 10px;
	padding-right: 10px;
}

/*Police*/

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

p,
ul,
li {
  font-size: 0.9em;
}

/*Logo*/

	.fas
{
	color: #0065FC;
}

	.far
{
	color: #d9d9d9;
}

	.fa-star
{
	font-size: 0.8rem ;
	color: #0065fc;
}

	.fa-star.grey
{
	color: rgb(207, 207, 207);
}

	.recherche.bloc2 i
{
	color: black;
}

	.fa-chart-line
{
	color: black;
}

	
/*Partie Header*/

	.topbar 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

	.topbar_logo img 
{
  width: 100px;
  height: 40px;
}

	.titlewebsite
{
  display: none;
}

	.nav_bar a 
{
  color: #0065fc;
  font-size: 0.9em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-right: 65px;
}

	.nav_bar a::after 
{
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 3px;
  background: #0065fc;
  top: -63px;
}

	.nav_bar a:hover:after 
{
  width: 100%;
}

	.nav_bar .txt_bold 
{
  font-weight: bold;
}

	.nav_bar .txt_grey 
{
  font-size: 0.9em;
  color: initial;
}

/*Partie Recherche*/

	
	#filtres
{
	display: flex;
	flex-direction: row;
	width: 58rem;
}
	.recherche.bloc2
{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	border-radius: 12px;
	height: 3rem;
}
	
	.recherche.bloc2 label
{
	display: flex;
	background-color: #F2F2F2;
	align-items: center;
	justify-content: center;
	width: 3.12rem;
	border-radius: 12px 0px 0px 12px;
}	

	.recherche.bloc2 i
{
	margin: 1.5rem;
}

	.recherche.bloc2 span
{
	background-color: #0065fc;
	border-radius: 0px 12px 12px 0px;
}

	.recherche.bloc2 input
{
	border: 5px solid #F2F2F2;
}

	.recherche.bloc2 p
{
	color: white;
	margin-left: 0.31rem;
	margin-right: 0.31rem;
}

	.searchicone
{
	display: none;
}

	.filtre span 
{
	padding: 0.5rem;
}

	.fa-map-marker-alt
{
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	background-color: #F2F2F2;
}
	
	#filtres p 
{
  margin-right: 15px;
  font-weight: bold;
}

	.filtres button 
{
  width: 180px;
  height: 45px;
  margin-right: 20px;
  border-radius: 20px;
  border: 2px solid #f2f2f2;
  background-color: white;
}

	.btn 
{
	height: 40px;
	background-color: #ffffff;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  line-height: 0;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 15px;
  font-weight: bold;
  cursor: pointer;
}

	.btn:hover 
{
	background-color: #0065fc;
	color: #ffffff;
}
	
	#filtres i 
{
  float: left;
  color: #0065fc;
  background-color: #deebff;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  line-height: 46px;
  font-size: 1.3em;
  margin-top: -23px;
  margin-left: -16px;
  margin-right: 12px;
}

	#filtres 
{
  display: flex;
  margin-right: 20px;
  margin-top: 30px;
  font-weight: bold;
}

	#filtres h3
{
  margin-right: 15px;
  font-weight: bold;
}

	.recherche.bloc4
{
	display: flex;
	justify-content: flex-start;
	margin-top: 30px;
	margin-bottom: 25px;
	align-items: center;
}

	.recherche.bloc4 span 
{
	color: #0065fc;
  border: 2px white solid;
  width: 25px;
  height: 19px;
  border-radius: 25px;
  text-align: center;
  line-height: 20px;
  font-size: small;
}

/*Partie 1 : Hebergements a Marseille*/
	
	.bloc_hebergements 
{
  background-color: #f2f2f2;
  border: 3px #f2f2f2 solid;
  border-radius: 15px;
  height: 700px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  width: 67%;
}

	.bloc_hebergements h2 
{
  width: 300px;
  margin-left: 40px;
  margin-top: 42px;
  margin-bottom: 20px;
}

	.cards_text_bold, .hebergement_link 
{
  font-weight: bold;
}

	.sous_image 
{
  margin-left: 15px;
  line-height: 10px;
}

	.ligne1_hebergement 
{
  display: flex;
  margin-top: 0px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
}

	.ligne2_hebergement
{
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
}

	.hotel_hebergements 
{
  width: 250px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 6px solid white;
  margin-left: 15px;
  margin-right: 15px;
}

	.hotel_hebergements img 
{
  width: 100%;
  height: 100px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

	.links_cards 
{
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  font-size: 1em;
}

	.fa-star.grey 
{
  color: #dedede;
}

	.hebergement_link 
{
  margin-left: 40px;
  margin-top: 40px;
}

	

/*Partie 2 : Les plus populaires*/
	
	aside 
{
  background-color: #f2f2f2;
  border: 3px #f2f2f2 solid;
  border-radius: 15px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 630px;
}

	.titre_populaire_logo
{
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-left: 5px;
}

	aside h2 
{
  margin-top: 42px;
  margin-bottom: 22px;
}

	.fa-chart-line 
{
  font-size: 1.2em;
  margin-top: 47px;
  margin-bottom: 22px;
  margin-right: 8px;
}

	.hotel_populaire 
{
  display: flex;
  width: 340px;
  height: 140px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 6px solid white;
  margin-bottom: 30px;
}

	.hotel_populaire img 
{
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
  width: 40%;
}

	.hotel_populaire p 
{
  margin-left: 20px;
  margin-top: 10px;
  line-height: 10px;
}

	.etoiles_populaire
{
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

	.hotel_populaire span 
{
  font-weight: bold;
}

	.bold_text 
{
  font-weight: bold;
}
	
/*Partie 3 : Les Activites*/

	.box_activity 
{
	display: flex;
  width: 100%;
  height: 445px;
}

	.media_activite_hauteur 
{
  width: 305px;
  height: 440px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #f2f2f2;
  margin-right: 41px;
}

	.media_activite_hauteur img 
{
  width: 100%;
  height: 390px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

	.deux_colonnes 
{
  display: flex;
  flex-direction: column;
}

	.media_activite_mediumlarg 
{
  width: 305px;
  height: 240px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #f2f2f2;
  margin-right: 40px;
}

	.media_activite_mediumlarg img 
{
  width: 100%;
  height: 185px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

	.media_activite_largeur_frioul 
{
  width: 305px;
  height: 165px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #f2f2f2;
  margin-top: 47px;
}

	.media_activite_largeur_frioul img 
{
  width: 100%;
  height: 107px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

	.media_activite_larg_dame 
{
  width: 305px;
  height: 195px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #f2f2f2;
  margin-bottom: 49px;
}

	.media_activite_larg_dame img 
{
  width: 100%;
  height: 140px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

	.media_activite_mediumlarg_long 
{
  width: 305px;
  height: 210px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #f2f2f2;
}

	.media_activite_mediumlarg_long img 
{
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

	.box_activity p 
{
  font-weight: bold;
  margin-left: 10px;
}

	.links_cards_activity 
{
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  font-size: 1em;
}

/*Footer*/

	footer 
{
	display: flex;
	align-items: center;
	justify-content: space-around;	
	background-color: #F2F2F2;
	width: 100%;
	height: 220px;
	font-size: 1em;
	margin-top: 60px;
}

	.footer h3
{
	padding-bottom: 10px;
}
		


@media only screen and (max-width: 2560px) 
{
  
   /*Bloc page*/

	  .bloc_page 
	{
  margin: 0 auto;
  width: 100%;
	}

  /*Footer*/

 	 	.footer.ft1 
	{
	margin-left: 50px;
	}

		.footer.ft2 
	{
	margin-right: -15px;
	}

		.footer.ft3 
	{
		margin-right: 58px;
	}

}
/*Version Laptop L*/

@media only screen and (max-width: 1440px) 
{
  /*Bloc page*/

  	.bloc_page 
	{
  margin: 0 auto;
  width: 100%;
	}

  	footer 
	{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 220px;
  line-height: 30px;
  font-size: 1em;
	}
  
		.footer.ft1 
	{
  margin-left: 61px;
	}

		.footer.ft3 
	{
  margin-right: 62px;
	}

}
/*Version Laptop et Tablet*/

@media only screen and (max-width: 1200px) and (min-width: 770px) 

{

  /*Bloc page*/

		.bloc_page
	{
		margin: 0 auto;
		width: 100%;
	}

  /*Header*/

		.topbar img 
	{
		margin-left: 20px;
	}

  /*Baseline*/

		.recherche.bloc1 h1 
	{
		margin-left: 20px;
	}

  /*Champ de recherche*/

		.recherche.bloc2
	{
		margin-left: 20px;
	}

  /*Baseline*/

		.recherche.bloc1 p
	{
		margin-left: 20px;
	}

  /*Filtres*/

		.filtre 
	{
		margin-right: 0px;
	}

		#filtres p 
	{
  	margin-left: 20px;
	}

  /*Résult search*/
  
  	.recherche.bloc4
	{
  	margin-left: 20px;
	}

  /*Hébergement*/

		#bloc_hebergement_populaire 
	{
  	display: flex;
  	flex-direction: column;
	}

  	.bloc_hebergements 
	{
  	width: 100%;
  	height: 740px;
	}
  
  	.hotel_hebergements
	{
		width: 240px;
		height: 235px;
		margin-left: 32px;
		margin-right: 2px;
	}

  	.ligne1_hebergement 
	{
		margin-left: 1px;
		margin-right: 41px;
	}

  	.ligne2_hebergement 
	{
		margin-left: 1px;
		margin-right: 41px;
	}

  	.sous_image 
	{
		line-height: 10px;
	}
 
  	.hotel_hebergements img 
	{
		height: 140px;
	}

  /*Plus Populaire*/

 		aside 
	{
		width: 100%;
		margin-top: 20px;
		height: 800px;
	}

  	aside h2 
	{
		margin-top: 10px;
		margin-bottom: 22px;
		margin-left: 20px;
		background-color: #f2f2f2;
	}

  	#titre_populaire_logo 
  {
    display: flex;
    justify-content: space-between;
    width: 96%;
    height: 15px;
    margin-bottom: 40px;
    margin-top: 28px;
  }

  	.fa-chart-line 
  {
    margin-top: 15px;
    margin-right: 35px;
  }

  	.hotel_populaire 
  {
    display: flex;
    width: 93%;
    height: 314px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 6px solid white;
    margin-left: -25px;
    margin-bottom: 35px;
    margin-right: -17px;
  }
  
  	.hotel_populaire img 
  {
    width: 26%;
    height: 190px;
  }

  	.hotel_populaire p 
  {
    line-height: 20px;
  }

  	.etoiles_populaire 
  {
    margin-top: 55px;
  }

  /*Activity*/

		.box_activity 
  {
  	display: block;
  	height: 2250px;
  }

 		.deux_colonnes 
  {
    display: block;
  }

		.media_activite_hauteur 
	{
 		width: 100%;
		height: 345px;
		margin-right: 40px;
		margin-bottom: 40px;
  }

		.media_activite_hauteur img 
	{
		height: 290px;
  }

		.media_activite_mediumlarg 
	{
		width: 100%;
		height: 340px;
		margin-bottom: 40px;
	}

  	.media_activite_mediumlarg img 
  {
    height: 290px;
  }

  	.media_activite_largeur_frioul 
  {
    width: 100%;
    height: 340px;
    margin-bottom: 40px;
  }

  	.media_activite_largeur_frioul img 
  {
    height: 290px;
  }

  	.media_activite_larg_dame 
  {
    width: 100%;
    height: 340px;
    margin-bottom: 40px;
  }

  	.media_activite_larg_dame img 
  {
    height: 290px;
  }

  	.media_activite_mediumlarg_long 
  {
    width: 100%;
    height: 340px;
    margin-bottom: 40px;
  }

  	.media_activite_mediumlarg_long img 
  {
    height: 290px;
  }

  /*Footer*/

  	footer 
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    line-height: 30px;
    font-size: 1em;
    margin-top: 60px;
  }

  	.footer.ft1 
  {
    margin-left: 61px;
  }

  	.footer.ft3 
  {
    margin-right: 62px;
  }

}

/*Laptop*/

	@media only screen and (max-width: 1024px) 
{  
  	.media_activite_mediumlarg 
	{
  	width: 100%;
	  height: 340px;
	  margin-bottom: 40px;
	}

  	.media_activite_largeur_frioul 
	{
  	width: 100%;
  	height: 340px;
  	margin-bottom: 40px;
	}

  	.media_activite_larg_dame 
  {
    width: 100%;
 	  height: 340px;
	  margin-bottom: 40px;
  }

  	.media_activite_mediumlarg_long 
  {
    width: 100%;
    height: 340px;
    margin-bottom: 40px;
  }

  	.footer.ft1 
  {
    margin-left: 31px;
  }
}

/*Tablette*/

	@media only screen and (max-width: 768px) 
{
  /*Bloc Page*/

  	.bloc_page
  {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
  }

  /*Header*/

  	.topbar 
  {
    display: block;
    margin-top: 20px;
    padding-left: 0px;
  }

  	.topbar_logo img 
  {
    margin-left: 20px;
  }

  	.nav_bar a 
  {
    margin-right: 50px;
    margin-left: 0;
    margin-top: 0;
  }

  	a.txt_bold 
  {
    position: absolute;
    top: 33px;
    left: 88%;
    right: 20%;
  }

  	.nav_bar 
  {
    display: grid;
    margin: 0;
    padding-top: 25px;
    text-align: center;
  }

  	.line_blue , .txt_grey
  {
    grid-row: 2;
    width: 100%;
    padding-bottom: 15px;
  }

  	.line_blue 
  {
    border-bottom: 3px solid #0065fc;
  }

  	.txt_grey 
  {
    border-bottom: 3px solid #f2f2f2;
  }

  	.nav_bar a::after 
  {
    display: none;
  }

  /*Baseline*/


  	.recherche.bloc1 h1 
  {
    margin-top: 35px;
    padding-left: 20px;
    padding-right: 60px;
  }

  	.recherche.bloc1 p
   {
    margin-bottom: 20px;
    padding-left: 20px;
  }

  /*Champ de recherche*/

  	.recherche.bloc2 span 
  {
    margin-left: 20px;
  }

  	.recherche.bloc2 input 
  {
    height: 46px;
    width: 280px;
  }

  	.searchtxt 
  {
    display: none;
  }

  	.recherche.bloc2 .searchicone 
  {
    display: inline-block;
    margin-left: 0px;
  }

  	.recherche.bloc2 button 
  {
    width: 46px;
    height: 46px;
    font-weight: bold;
    cursor: pointer;
    line-height: 5px;
    font-size: 15px;
    margin-left: -41px;
  }

  /*Filtres*/

  	#filtres 
  {
    margin-right: 5px;
  }

  	#filtres p 
  {
    margin-top: -4px;
    margin-bottom: 15px;
  }

  	#filtres 
  {
    display: block;
    margin-left: 20px;
  }

  	.btn 
  {
    margin-bottom: 10px;
  }

  /*Résultat recherche*/

  	.recherche.bloc4 
  {
    margin-left: 20px;
    margin-top: 23px;
    margin-bottom: 10px;
  }

  	.recherche.bloc4 span 
  {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    line-height: 21px;
  }

  	.recherche.bloc4 p 
  {
    width: 760px;
    height: 50px;
    padding-right: 30px;
  }

  /*Hébergement et Populaire*/

  	.bloc_hebergement_populaire 
  {
    display: flex;
    flex-direction: column;
  }

  /*Hébergement*/

  	.bloc_hebergements h2 
  {
    width: 300px;
    height: 40px;
    margin-left: 20px;
    margin-top: 28px;
    margin-bottom: 0px;
  }

  	.bloc_hebergements 
  {
    display: flex;
    flex-direction: column;
    height: 1400px;
    /*width: 100%;*/
    margin-bottom: 20px;
    height: 640px;
  }

  	.ligne1_hebergement 
  {
    display: flex;
    margin-top: 0px;
  }

  	.ligne2_hebergement
  {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
  }

  	.hotel_hebergements 
  {
    width: 330px;
    height: 230px;
    margin-left: 0px;
    box-shadow: 10px 10px 10px #f2f2f2;
  }

  	.sous_image 
  {
    line-height: 8px;
  }

  	.hebergement_link 
  {
    margin-top: 15px;
    margin-left: 20px;
  }

  /*Les plus Populaire*/

  	aside 
  {
    display: block;
    width: 100%;
    height: 765px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 0px;
  }

  	aside h2 
  {
    margin-top: 10px;
    margin-bottom: 22px;
    margin-left: 20px;
    background-color: #f2f2f2;
  }

  	#titre_populaire_logo 
  {
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 15px;
    margin-bottom: 40px;
    margin-top: 28px;
  }

  	.fa-chart-line 
  {
    margin-top: 15px;
    margin-right: 31px;
  }

  	.hotel_populaire 
  {
    display: flex;
    width: 93%;
    height: 202px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 6px solid white;
    margin-left: 20px;
    margin-bottom: 15px;
  }

  /*Activités*/

  	.box_activity 
  {
    display: block;
    padding-left: 20px;
    height: 1515px;
  }

  	.deux_colonnes 
  {
    display: block;
  }

  	#titre_bloc_activites
  {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  	.media_activite_hauteur 
  {
    width: 96%;
    height: 230px;
    margin-bottom: 20px;
    margin-right: 0px;
  }

  	.media_activite_hauteur img 
  {
    width: 100%;
    height: 170px;
  }

  	.media_activite_mediumlarg 
  {
    width: 96%;
    height: 230px;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  
  	.media_activite_mediumlarg img 
  {
    width: 100%;
    height: 170px;
  }

  	.media_activite_largeur_frioul 
  {
    width: 96%;
    height: 230px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  	.media_activite_largeur_frioul img 
  {
    width: 100%;
    height: 170px;
  }

  	.media_activite_larg_dame 
  {
    width: 96%;
    height: 230px;
    margin-bottom: 20px;
  }

  	.media_activite_larg_dame img 
  {
    width: 100%;
    height: 170px;
  }

  	.media_activite_mediumlarg_long 
  {
    width: 96%;
    height: 230px;
    margin-bottom: 40px;
  }
  
  	.media_activite_mediumlarg_long img 
  {
    width: 100%;
    height: 170px;
  }

  	.box_activity p 
  {
    margin-top: 20px;
  }

  /*Footer*/

  	.footer.ft1 
	{
    margin-top: 34px;
    margin-bottom: 95px;
	}

  	.footer.ft2 
	{
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: 90px;
  }

  	.footer.ft3 
  {
    margin-left: 20px;
    margin-bottom: 90px;
  }

  	footer 
  {
    display: flex;
    height: 260px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 690px) 

{
  /*Hosting*/
  
  	.bloc_hebergements 
  {
    height: 1990px;
  }

  	.ligne1_hebergement 
  {
    display: block;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  	.hotel_hebergements 
  {
    width: 100%;
    height: 285px;
    margin-bottom: 20px;
  }

  	.hotel_hebergements img 
  {
    height: 180px;
  }

  	.ligne2_hebergement 
  {
    display: block;
    margin-top: 0px;
  }
}

/*Mobile L*/

@media only screen and (max-width: 425px) 

{  
  /*Main*/

  	.bloc_page  
  {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
  }

  /*Header*/

  	.topbar 
  {
    display: block;
    margin-top: 20px;
    padding-left: 0px;
  }

  	.topbar_logo img 
  {
    margin-left: 20px;
  }

  	.nav_bar a 
  {
    margin-right: 50px;
    margin-left: 0;
    margin-top: 0;
  }

  	header .txt_bold 
  {
    position: absolute;
    top: 33px;
    left: 330px;
    right: 50px;
  }

	  .nav_bar 
  {
    display: grid;
    margin: 0;
    padding-top: 25px;
    text-align: center;
  }

  	.line_blue,
  	.txt_grey 
 	{
    grid-row: 2;
    width: 100%;
    padding-bottom: 15px;
  }

  	.line_blue 
  {
    border-bottom: 3px solid #0065fc;
  }

  	.txt_grey 
  {
    border-bottom: 3px solid #f2f2f2;
  }

  	.nav_bar a::after 
  {
    display: none;
  }

  /*Baseline*/

  	.recherche.bloc1 h1 
  {
    margin-top: 35px;
    padding-left: 20px;
    padding-right: 60px;
  }

  	.recherche.bloc1 p 
  {
    margin-bottom: 20px;
    padding-left: 20px;
  }

  /*Champ de recherche*/

  	.recherche.bloc2 span 
  {
    margin-left: 20px;
  }

  	.recherche.bloc2 input 
  {
    height: 46px;
    width: 280px;
  }

  	.searchtxt 
  {
    display: none;
  }

  	.recherche.bloc2 .searchicone 
  {
    display: inline-block;
    margin-left: 2px;
  }

  	.recherche.bloc2 button 
  {
    width: 46px;
    height: 46px;
    font-weight: bold;
    cursor: pointer;
    line-height: 5px;
    font-size: 15px;
    margin-left: -41px;
  }

  /*Filtres*/

  	#filtres p 
  {
    margin-top: -4px;
    margin-bottom: 15px;
  }

  	#filtres 
  {
    display: block;
    margin-left: 20px;
  }
  
  	#bloc_hebergements h2 
  {
    width: 300px;
    height: 40px;
    margin-left: 0px;
    margin-top: 35px;
    margin-bottom: 0px;
  }

  	.btn 
  {
    margin-bottom: 10px;
  }

  /*Résultat recherche*/
  	
  	.recherche.bloc4 
  {
    margin-left: 20px;
    margin-top: 23px;
    margin-bottom: 10px;
  }

  	.recherche.bloc4 span 
  {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 25px;
  }

  	.recherche.bloc4 p 
  {
    width: 340px;
    height: 50px;
    padding-right: 30px;
  }

  /*Hébergement et Populaire*/

  	#bloc_hebergement_populaire 
  {
    display: flex;
    flex-direction: column-reverse;
  }

  /*Hébergement*/

  	.bloc_hebergements 
  {
    display: block;
    height: 1965px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #ffffff;
    border: none;
    border-radius: 0px;
    padding-left: 20px;
  }
  
  	.ligne1_hebergement 
  {
    display: block;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  	.ligne2_hebergement 
  {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  	.hotel_hebergements 
  {
    width: 93%;
    height: 290px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px #f2f2f2;
  }

  	.sous_image 
  {
    line-height: 8px;
  }

  	.hebergement_link 
  {
    margin-left: 0px;
    margin-top: 30px;
  }

  /*Les plus Populaire*/
  	aside 
  {
    display: block;
    width: 100%;
    height: 540px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 0px;
  }

  	aside h2 
  {
    margin-top: 10px;
    margin-bottom: 22px;
    margin-left: 20px;
    background-color: #f2f2f2;
  }

  	#titre_populaire_logo 
  {
    display: flex;
    justify-content: space-between;
    width: 89%;
    height: 15px;
    margin-bottom: 40px;
    margin-top: 28px;
  }

  	.fa-chart-line 
  {
    margin-top: 15px;
    margin-right: -6px;
  }

  	.hotel_populaire 
  {
    display: flex;
    width: 89%;
    height: 140px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 6px solid white;
    margin-left: 20px;
    margin-bottom: 15px;
  }

  	.hotel_populaire p 
  {
    margin-top: 5px;
  }

  /*Activités*/

  	.box_activity 
  {
    display: block;
    height: 1255px;
    padding-left: 20px;
  }

  	.deux_colonnes 
  {
    display: block;
  }
  
  	#titre_bloc_activites 
  {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  	.media_activite_hauteur 
  {
    width: 93%;
    height: 190px;
    margin-bottom: 20px;
  }

  	.media_activite_hauteur img 
  {
    width: 100%;
    height: 135px;
  }

  	.media_activite_mediumlarg 
  {
    width: 93%;
    height: 190px;
    margin-bottom: 20px;
  }

  	.media_activite_mediumlarg img 
  {
    width: 100%;
    height: 135px;
  }

  	.media_activite_largeur_frioul 
  {
    width: 93%;
    height: 190px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  	.media_activite_largeur_frioul img 
  {
    width: 100%;
    height: 135px;
  }

  	.media_activite_larg_dame 
  {
    width: 93%;
    height: 190px;
    margin-bottom: 20px;
  }

  	.media_activite_larg_dame img 
  {
    width: 100%;
    height: 135px;
  }

  	.media_activite_mediumlarg_long 
  {
    width: 93%;
    height: 190px;
  }

  	.media_activite_mediumlarg_long img 
  {
    width: 100%;
    height: 135px;
  }

  	.box_activity p 
  {
    margin-top: 20px;
  }

  	.footer.ft1 
  {
    margin-left: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
  }

  	.footer.ft2 
  {
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  	.footer.ft3 
  {
    margin-left: 20px;
    margin-bottom: 28px;
  }

  	footer 
  {
    display: block;
    height: 450px;
    margin-top: 25px;
  }
}

/*Mobile M*/

@media only screen and (max-width: 375px) {
  
	/*Header*/

  	header .txt_bold 	
  {
    position: absolute;
    top: 33px;
    left: 75%;
    right: 50px;
  }

  /*Les plus Populaire*/

  	#titre_populaire_logo 
  {
    width: 90%;
  }

  	aside 
  {
    width: 100%;
  }

  /*Hebergement*/

  	.hotel_hebergements 
  {
    width: 94%;
  }

  /*Activity*/

  	.media_activite_hauteur 
  {
    width: 335px;
    height: 190px;
    margin-bottom: 20px;
  }
  
  	.media_activite_hauteur img 
  {
    width: 100%;
    height: 135px;
  }
  
  	.media_activite_mediumlarg 
  {
    width: 335px;
    height: 190px;
    margin-bottom: 20px;
  }

  	.media_activite_mediumlarg img 
  {
    width: 100%;
    height: 135px;
  }
  
  	.media_activite_largeur_frioul 
  {
    width: 335px;
    height: 190px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  	.media_activite_largeur_frioul img 
  {
    width: 100%;
    height: 135px;
  }
  
  	.media_activite_larg_dame 
  {
    width: 335px;
    height: 190px;
    margin-bottom: 20px;
  }
  
  	.media_activite_larg_dame img 
  {
    width: 100%;
    height: 135px;
  }
  
  	.media_activite_mediumlarg_long 
  {
    width: 335px;
    height: 190px;
  }
  	
  	.media_activite_mediumlarg_long img 
  {
    width: 100%;
    height: 135px;
  }
}

/*Mobile S*/

@media only screen and (max-width: 320px) {
  
  	header .txt_bold 
  {
    position: absolute;
    top: 33px;
    left: 240px;
    right: 50px;
  }

  /*Les plus Populaire*/

  	#titre_populaire_logo 
  {
    width: 90%;
  }

  	aside 
  {
    display: block;
    width: 100%;
    height: 540px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 0px;
  }

  /*Champ de recherche*/

  	.recherche.bloc2 input 
  {
    height: 46px;
    width: 210px;
  }

  /*Hebergement*/

  	.hotel_hebergements
  {
    width: 95%;
  }

  /*Activity*/

  	.media_activite_hauteur 
  {
    width: 277px;
    height: 190px;
    margin-bottom: 20px;
  }
  	
  	.media_activite_hauteur img 
  {
    width: 100%;
    height: 135px;
  }
  
  	.media_activite_mediumlarg 
  {
    width: 277px;
    height: 190px;
    margin-bottom: 20px;
  }

  	.media_activite_mediumlarg img 
  {
    width: 100%;
    height: 135px;
  }
  
  	.media_activite_largeur_frioul 
  {
    width: 277px;
    height: 190px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  	.media_activite_largeur_frioul img 
  {
    width: 100%;
    height: 135px;
  }
  
  	.media_activite_larg_dame 
  {
    width: 277px;
    height: 190px;
    margin-bottom: 20px;
  }
  
  	.media_activite_larg_dame img 
  {
    width: 100%;
    height: 135px;
  }
  
  	.media_activite_mediumlarg_long 
  {
    width: 277px;
    height: 190px;
  }
  
  	.media_activite_mediumlarg_long img 
  {
    width: 100%;
    height: 135px;
  }
}
